
 <ul>  <h5>student info</h5>	 
 	<li>
 		<strong><ins><h4>student name : <%= @student.name %></h4></ins></strong>
 	</li>
 	<li>
 		<strong><ins><h4>student class : <%= @student.student_class %></h4></ins></strong>

 	</li>
 	<li>
 		<strong><ins><h4>student roll number : <%= @student.roll_no %></h4></ins></strong>
 	</li>
 </ul>
<%= form_with(url: bulk_subject_delete_students_url, method: :delete, data:{confirm: "are you sure"}) do |form| %>
<%= form.submit "bulk subject delete", class: "btn btn-outline-danger" %>

<table clsass="table">
	<thead>
		<th>
			subject name
		</th>
		<th>
			marks
		</th>
		<th>
			action
		</th>
	</thead>
	<tbody>
		<%@student.subjects.each do |subject| %>
		<tr>
			<td>
				<%= form.check_box "subject_id", {}, subject.id, '' %>
			</td>
			<td>
				<%= subject.name %>
			</td>
			<td>
				<%= subject.score %>
			</td>
			<td>
				<%= link_to 'delete',destroy_subject_student_path, method: :delete, data:{confirm: "are you sure"}, class: 'btn btn-outline-danger' %>
			</td>
		</tr>
		<%end%>
	</tbody>
</table>
<%end%>

<%= link_to 'home', students_path, class: 'btn btn-outline' %>