	<div class="nested-fields">
		

	

	<div>
		<%= f.label :item %>
		<%= f.text_field :item %>
	</div>
	<div>
		<%= f.label :amount %>
		<%= f.number_field :amount %>	
	</div>
	
	<%= link_to_remove_association "remove task", f %>

	</div>